.jumbotron {
  color: black;
  padding-bottom: 30px;
}
.jumbotron .btn-primary {
}
.jumbotron .btn-primary:hover {
}
.jumbotron p {
  max-width: 75%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
  margin-top: -20px;
}
.col-sm-6 {
  padding-bottom: 30px;
}
.license {
    font-size: small;
    color: grey;
    text-align: right;
}
