@(message: String)

@main("Robocervantes") {

<div class="jumbotron text-center">
    <h1>Robocervantes</h1>
    <p>Busco rimas elegantes</p>
</div>
<div class="container">
  @if(message != null){
  <div class="alert alert-success text-center" role="alert">
    @message
  </div>
  }
  <div class="container">
      Hola, soy Robocervantes,<br/> 
      el Robot hispanohablante.<br/> 
      No soy Bender, no obstante,<br/> 
      puedes besar mi trasero brillante.<br/> 
  </div> <!-- container-->
  <div class="container">
      <label for="verse">Escribe aquí la frase para rimar:</label>
      <div class="form-group">
          <input type="text" class="form-control" id="verse">
      </div>
      <button type="submit" class="btn btn-default" id="go">Pulsa para buscar</button>
  </div id="result"> <!-- container -->
  <div class="container" id="rhymes">
  </div> <!-- container -->
  <div class="container" id="rhymes_strict">
  </div> <!-- container -->
  <hr>
  <div class="alert alert-info text-center" role="alert">
      En el Quijote no soy ningun experto.<br/> 
      Ni lo he leido entero, es cierto.<br/> 
      Esto es solo un ejercicio sano<br/> 
      porque me gusta rimar en castellano.<br/> 
  </div>
</div>

}
